    html {
        scroll-behavior: smooth;
    }
    
    body {
        background-image: linear-gradient(bottom, rgb(113, 61, 62) 25%, rgb(147, 92, 93) 63%, rgb(177, 120, 121) 82%);
        background-image: -o-linear-gradient(bottom, rgb(113, 61, 62) 25%, rgb(147, 92, 93) 63%, rgb(177, 120, 121) 82%);
        background-image: -moz-linear-gradient(bottom, rgb(113, 61, 62) 25%, rgb(147, 92, 93) 63%, rgb(177, 120, 121) 82%);
        background-image: -webkit-linear-gradient(bottom, rgb(113, 61, 62) 25%, rgb(147, 92, 93) 63%, rgb(177, 120, 121) 82%);
        background-image: -ms-linear-gradient(bottom, rgb(113, 61, 62) 25%, rgb(147, 92, 93) 63%, rgb(177, 120, 121) 82%);
        background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.25, rgb(40, 94, 209)), color-stop(0.12, rgb(223, 43, 199)), color-stop(0.63, rgb(119, 72, 194)), color-stop(0.82, rgb(76, 189, 204)));
        color: white;
    }
    
    .titre {
        display: flex;
        justify-content: center;
    }
    
    .menu {
        background-color: rgba(211, 62, 62, 0.479);
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    
    .menu a:hover {
        text-decoration: underline;
        transition: 1s;
        font-size: 1.4em;
    }
    
    .menu a {
        color: white;
        text-decoration: none;
    }
    
    .titre h1:hover {
        transition-timing-function: ease-in-out;
        transition-duration: 1s;
        transform: scale(2);
    }
    
    .language {
        display: flex;
        justify-content: center;
        justify-content: space-around;
        margin-left: 0%;
        margin-top: 06%;
        height: 40rem;
        background-image: url("./test-modified.jpg");
        background-size: cover;
    }
    
    .language img {
        margin-top: 4rem;
        justify-content: center;
        margin-left: 20%;
    }
    
    .language p {
        margin: 4%;
        background-color: antiquewhite;
        width: 12%;
        height: 35%;
        justify-content: center;
        border-radius: 5%;
    }
    
    .language p button {
        margin-top: 5%;
        margin-left: 2%;
        box-shadow: inset 0px 1px 0px 0px #54a3f7;
        background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
        background-color: #007dc1;
        border-radius: 3px;
        border: 1px solid #124d77;
        cursor: pointer;
        color: #ffffff;
        font-family: Georgia;
        font-size: 25px;
        padding: 10px 12px;
        text-shadow: 0px 1px 0px #154682;
    }
    
    .language p button :hover {
        background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
        background-color: #0061a7;
        text-decoration: underline;
    }
    
    #html {
        margin-top: 34%;
    }
    
    .language p img {
        display: flex;
        justify-content: flex-end;
        width: 100px;
    }
    
    a {
        color: white;
        text-decoration: none;
    }
    
    #hello {
        width: 88%;
    }
    
    .siteSae {
        display: flex;
        justify-content: center;
    }
    
    #javascript h1{
        display: flex;
        justify-content: center;
    }

    .pongproject{
        display: flex;
        justify-content: center;
    }

    .pongProject{
        display: flex;
        justify-content: center;
    }

    .pongProject a{
        color: black;
    }

    #pong{
        width: 70%;
    }

    #html h1 {
        display: flex;
        justify-content: center;
    }
    
    #lowatem {
        width: 600px;
    }
    
    #java h1 {
        display: flex;
        justify-content: center;
    }
    
    .lowatem {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .webSae {
        display: flex;
        justify-content: space-around;
    }
    
    .webSae a {
        color: black;
        text-decoration: none;
    }
    
    .javaProjet a {
        color: black;
        text-decoration: none;
    }
    
    .javaProjet {
        display: flex;
        justify-content: space-around;
    }
    
    #sql {
        width: 75%;
    }
    
    #SQL h1 {
        display: flex;
        justify-content: center;
    }
    
    .sqlProjet {
        display: flex;
        justify-content: center;
    }
    
    .projetsql a {
        color: black;
        text-decoration: none;
    }
    
    .projetsql {
        display: flex;
        justify-content: space-around;
    }
    
    #proty {
        width: 80%;
    }
    
    .protyprojet {
        display: flex;
        justify-content: space-around;
    }
    
    .protyprojet a {
        color: black;
        text-decoration: none;
    }
    
    .protyProjet {
        display: flex;
        justify-content: center;
    }
    
    #Csharp h1 {
        display: flex;
        justify-content: center;
    }

    #bash{
        width: 70%;
    }

    #Bash h1{
        display: flex;
        justify-content: center;
    }


    .bashprojet{
        display: flex;
        justify-content: center;
    }

    .Projetbash{
        display: flex;
        justify-content: center;
    }

    .Projetbash a{
        color: black;
    }